body{
    min-height: 100vh;
    background: linear-gradient(180deg, #7a2bf2, #0b0f27);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
}

.card{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    color: #fff;
}
.inicial p{
    text-align: center;
    margin: 5px 5px;
}

#formulario_2 input{
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 10px;
    color: #fff;
    padding: 5px;
    
}
#formulario_2 input::placeholder{
    color: rgba(255, 255, 255, 0.7);
}

#senha, #confirmar_senha {
    margin-bottom: 10px;
}


#cadastrar{
    background: #7a2bf2;
    border: none;
    padding: 10px 25px;
    font-size: 15px;
    
}

#cadastrar:hover{
    background: #5e22c9;
    cursor: pointer;
}
