body{
    min-height: 100vh;
    background: linear-gradient(180deg, #7a2bf2, #0b0f27);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
}

.card{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    color: #fff;
}

.inicial p{
    text-align: center;
    margin: 5px 5px;
}



#formulario input{
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 5px;
    
}
#formulario input::placeholder{
    color: rgba(255, 255, 255, 0.7);
}



/* Container do checkbox */
.checkbox-container {
    padding-top: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

/* Oculta o checkbox real */
.checkbox-container input[type="checkbox"] {
    display: none;
}

/* Label estilizado como botão */
.custom-checkbox {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.1); /* semi-transparente */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}

/* Span do checkmark (inicialmente escondido) */
.custom-checkbox .checkmark {
    display: inline-block;
    width: 18px;
    height: 18px;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid rgba(255,255,255,0.3);
    opacity: 0;
    transform: scale(0);
    transition: all 0.3s ease;
    
}

/* Hover do botão */
.custom-checkbox:hover {
    background: rgba(255, 255, 255, 0.2);
}

/* Estado checked */
.checkbox-container input[type="checkbox"]:checked + .custom-checkbox {
    background: #7a2bf2;
    border-color: #7a2bf2;
    box-shadow: 0 0 10px #7a2bf2;
}

/* Mostrar checkmark quando marcado */
.checkbox-container input[type="checkbox"]:checked + .custom-checkbox .checkmark {
    opacity: 1;
    transform: scale(1);
    color: #fff;
}

#proximo{
    background: #7a2bf2;
    border: none;
    padding: 10px 25px;
    font-size: 17px;
    
}

#proximo:hover{
    background: #5e22c9;
    cursor: pointer;
}
