@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    font-family: "Noto Sans", sans-serif;
    background: linear-gradient(180deg, #7a2bf2, #0b0f27);
    
}
body *{
    box-sizing: border-box;
}

.main-login{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.left-login > h1{
    color: white;
    font-size: 3vw;
    
}

.left-login-image{
    width: 50vw;
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    color: #fff;

}

.card-login > h1{
    color: white;
    font-weight: 800;
    margin: 0;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;

}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    font-size: 12pt;
    box-shadow: #00000056;
    outline: none;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    
}

.textfield > label{
    color: white;
    margin-bottom: 10px;

}

.textfield > input::placeholder {
   color: rgba(255, 255, 255, 0.7);
}


.cadastro-link {
    color: white;
    font-size: 10pt;
    text-decoration: none;
    font-weight: 200;
    margin-top: 2px;
    transition: 0.3s;

}

.cadastro-link:hover {
    color: #7a2bf2;
    outline: none;
}

.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 10px 0; 
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 1000;
    letter-spacing: 3px;
    color: #2b134b;
    background-color: white;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #4c4c74;
}




@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}

@media only screen and (max-width: 600px){
    .main-login{
        flex-direction: column;
    }
    .left-login > h1{
        display: none;
    }
    .left-login{
        width: 100%;
        height: auto;
    }
    .right-login{
        width: 100%;
        height: auto;
    }
    .left-login-image{
        width: 50vw;
    }
    .card-login{
        width: 90%;
    }
}

.mt-2 {
    margin-top: 10px;
    margin-bottom: 10px;
}
