.card-profissao {
    margin-bottom: 20px;
}

.card-profissao .card-body {
    height: 100%;
}

.card-profissao h5 {
    font-weight: bold;
}

.card-profissao p {
    font-size: 0.9rem;
}

.card-img-top {
    max-height: 200px;
    object-fit: cover;
}