.bg-primary,
.btn-primary {
    background-color: #7a2bf2 !important;
    border-color: #7a2bf2 !important;
}

.text-primary {
    color: #7a2bf2 !important;
}


.bg-secondary,
.btn-secondary {
    background-color: #b32bf2 !important;
    border-color: #c42bf2 !important;
}

.text-secondary {
    color: #7c0a99 !important;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body {
    min-height: 100vh;
    background: linear-gradient(180deg, #7a2bf2, #0b0f27);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
}




.navbar button {
    display: flex;
    background-color: transparent;
    color: white;
    border: none;
    padding: 8px 18px;
    margin: 3px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    gap: 10px;

}


.navbar button:hover {
    color: #0b0f27;
    transform: scale(1.05);
}


.navbar button:focus {
    outline: none;
    box-shadow: none;
}



main.container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    text-align: left;
}


.texto {
    flex: 1;
    min-width: 280px;
}

.texto h2 {
    font-size: 2.5rem;
    line-height: 1.3;
    margin-bottom: 10px;
    color: #fff;
}

.texto strong {
    color: #00c4ff;
}


.imagem {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem img {
    width: 550px;
    max-width: 100%;
    border-radius: 20px;
    transition: transform 0.5s ease;
}

.imagem img:hover {
    transform: scale(1.05);
}


@media (max-width: 992px) {
    main.container {
        flex-direction: column;
        text-align: center;
        padding-top: 100px;

    }

    .texto h2 {
        font-size: 2rem;
    }

    .imagem img {
        width: 300px;
        margin-top: 20px;
    }
}

@media (max-width: 576px) {
    .texto h2 {
        font-size: 1.6rem;
    }

    .nav {
        justify-content: center;
    }

    .nav .btn {
        padding: 8px 20px;
    }
}

