body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  color: #212529;
}

h2, h5 {
  color: #212529;
}

.table th, .table td {
  vertical-align: middle;
}

.btn-outline-primary {
  border-radius: 4px;
  font-weight: 500;
}